<!DOCTYPE HTML>
<html lang="fa">
<head>
    <title>کاربر</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="../static/css/style.css" rel="stylesheet"/>
    <link href="../static/images/favicon.png" rel="icon" sizes="64x64">
    <link href="webjars/github-com-twbs-bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>

<body dir="rtl">
<!--<button onclick="showAlert()">Show alert</button>
<script src="js/alert.js" type="application/javascript"></script>-->

<table style="width:100%">
    <tr>
        <td colspan="2">
            <header style="background-image:url('../static/images/158939.svg'); background-size: 100% 100% ; border: 3px solid tomato; border-radius: 10px; height: 250px;"></header>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <nav dir="ltr" style="background-color: lightsteelblue; height: 40px; width:100%; border-radius: 10px">
            </nav>
        </td>
    </tr>
    <tr>
        <td style="width:50%;">
            <aside style="background-color: antiquewhite; height: 500px; width: 100%; border-radius: 10px">
                <div>
                    <div>
                        <br>
                        <h3>ثبت سفارش</h3>
                        <form action="http://localhost:8080/order/save" enctype="multipart/form-data"
                              method="post">
                            <div>
                                <label>
                                    آی دی کاربر:<br/>
                                    <input name="customer_id" type="number">
                                </label>
                            </div>
                            <div>
                                <label>
                                    نوع خدمت:<br/>
                                    <input name="service_id" type="checkbox" value="10"> کاشی کاری
                                    <input name="service_id" type="checkbox" value="5"> نقاشی دیوار <br>
                                </label>
                            </div>
                            <div>
                                <label>
                                    قیمت پیشنهادی:<br/>
                                    <input name="proposedOrderPrice" placeholder="ProposedPrice" step="0.01"
                                           type="number">
                                </label>
                            </div>
                            <div>
                                <label>
                                    شرح خدمت:<br/>
                                    <textarea cols="35" name="description" placeholder="Description" rows="7"
                                              type="text"></textarea>
                                </label>
                            </div>
                            <div>
                                <label>
                                    تاریخ پیشنهادی انجام خدمت:<br/>
                                    <input name="preferredDueDate" placeholder="Date" type="date">
                                </label>
                            </div>
                            <div>
                                <label>
                                    شهر:<br/>
                                    <input name="city" placeholder="City" type="text">
                                </label>
                            </div>
                            <div>
                                <label>
                                    خیابان:<br/>
                                    <input name="street" placeholder="Street" type="text">
                                </label>
                            </div>
                            <div>
                                <br>
                                <button type="submit">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </aside>
        </td>
        <td style="width:50%;">
            <main style="background-color: antiquewhite; height: 500px; width: 100%; border-radius: 10px">
                <div>
                    <div>
                        <br>
                        <h3 >ثبت نظر</h3>
                        <form action="http://localhost:8080/comment/save" method="post">
                            <div>
                                <label>
                                    شرح نظر:<br/>
                                    <textarea cols="35" name="text" placeholder="Comment" rows="7"
                                              type="text"></textarea>
                                </label>
                            </div>
                            <div >
                                <label>
                                    امتیاز:<br/>
                                    <input type="radio" name="rating" value="1">1
                                    <input type="radio" name="rating" value="2">2
                                    <input type="radio" name="rating" value="3">3
                                    <input type="radio" name="rating" value="4">4
                                    <input type="radio" name="rating" value="5">5 <br>
                                </label>
                            </div>
                            <div>
                                <label>
                                    آی دی کاربر:<br/>
                                    <input name="customer_id" type="number">
                                </label>
                            </div>
                            <div>
                                <label>
                                    آی دی متخصص:<br/>
                                    <input name="professional_id" type="number">
                                </label>
                            </div>
                            <div >
                                <br>
                                <button type="submit">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </main>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <footer style="background-color: gray; height: 250px; width: 100%; border-radius: 10px"></footer>
        </td>
    </tr>
</table>

</body>

</html>