<!DOCTYPE HTML>
<html lang="fa">
<head>
    <title>ثبت نام کاربر</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="../static/css/style.css" rel="stylesheet"/>
    <link href="../static/images/favicon.png" rel="icon" sizes="64x64">
    <link href="webjars/github-com-twbs-bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>

<body dir="rtl">
<!--<button onclick="showAlert()">Show alert</button>
<script src="js/alert.js" type="application/javascript"></script>-->

<table style="width:100%">
    <tr>
        <td colspan="2">
            <header style="background-image:url('../static/images/158939.svg'); background-size: 100% 100% ; border: 3px solid tomato; border-radius: 10px; height: 250px;"></header>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <nav dir="ltr" style="background-color: lightsteelblue; height: 40px; width:100%; border-radius: 10px">
            </nav>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <main style="background-color: antiquewhite; height: 500px; width: 100%; border-radius: 10px">
                <div class="center">
                    <div class="center">
                        <br>
                        <h2 style="text-align: center">اطلاعات فردی</h2>
                        <form action="http://localhost:8080/customer/save" method="post">
                            <div >
                                <label>
                                    <h3>
                                    نام:
                                    </h3>
                                    <input type="text" placeholder="Name" name="firstName">
                                </label>
                            </div>
                            <div >
                                <label>
                                    <h3>
                                        نام خانوادگی:
                                    </h3>

                                    <input type="text" placeholder="FamilyName" name="lastName">
                                </label>
                            </div>
                            <div >
                                <label>
                                    <h3>
                                    ایمیل:
                                    </h3>
                                    <input type="email" placeholder="Email" name="email">
                                </label>
                            </div>
                            <div >
                                <label>
                                    <h3>
                                    رمز عبور:
                                    </h3>
                                    <input type="password" placeholder="Password" name="password">
                                </label>
                            </div>
                            <button type="submit" class="center-horizontally">Register</button>
                        </form>
                    </div>
                </div>
            </main>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <footer style="background-color: gray; height: 250px; width: 100%; border-radius: 10px"></footer>
        </td>
    </tr>
</table>

</body>

</html>